stages:
  - test
  - build
  - scan
  - sign

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

include:
  - project: doca/gitlab-ci-lib
    file: container/build.yaml
  - project: doca/gitlab-ci-lib
    file: container/sign.yaml
  - project: doca/gitlab-ci-lib
    file: container/test.yaml

lint-dockerfile-code-server:
  extends: .tpl:container:test:hadolint
  variables:
    DOCKERFILE_PATH: code-server/Dockerfile

lint-dockerfile-nginx:
  extends: .tpl:container:test:hadolint
  variables:
    DOCKERFILE_PATH: nginx/Dockerfile

lint-dockerfile-oauth:
  extends: .tpl:container:test:hadolint
  variables:
    DOCKERFILE_PATH: oauth/Dockerfile

docker-build-code-server:
  extends: .tpl:container:build:kaniko
  variables:
    IMAGE_NAME: "code-server"
    IMAGE_PATH: "code-server"

docker-build-nginx:
  extends: .tpl:container:build:kaniko
  variables:
    IMAGE_NAME: "nginx"
    IMAGE_PATH: "nginx"

docker-build-oauth:
  extends: .tpl:container:build:kaniko
  variables:
    IMAGE_NAME: "oauth"
    IMAGE_PATH: "oauth"

container_scanning-code-server:
  extends: .tpl:container:test:cve
  variables:
    IMAGE_NAME: "code-server"
  needs:
    - docker-build-code-server
  dependencies:
    - docker-build-code-server

container_scanning-nginx:
  extends: .tpl:container:test:cve
  variables:
    IMAGE_NAME: "nginx"
  needs:
    - docker-build-nginx
  dependencies:
    - docker-build-nginx

container_scanning-oauth:
  extends: .tpl:container:test:cve
  variables:
    IMAGE_NAME: "oauth"
  needs:
    - docker-build-oauth
  dependencies:
   - docker-build-oauth

sign-code-server:
  extends: .tpl:container:sign:sign-image
  variables:
    IMAGE_NAME: "code-server"
  needs:
    - docker-build-code-server
    - merge-manifest-code-server

sign-nginx:
  extends: .tpl:container:sign:sign-image
  variables:
    IMAGE_NAME: "nginx"
  needs:
    - docker-build-nginx
    - merge-manifest-nginx

sign-oauth:
  extends: .tpl:container:sign:sign-image
  variables:
    IMAGE_NAME: "oauth"
  needs:
    - docker-build-oauth
    - merge-manifest-oauth

attest-code-server:
  extends: .tpl:container:sign:attest-image
  variables:
    IMAGE_NAME: "code-server"
  needs:
    - docker-build-code-server

attest-nginx:
  extends: .tpl:container:sign:attest-image
  variables:
    IMAGE_NAME: "nginx"
  needs:
    - docker-build-nginx

attest-oauth:
  extends: .tpl:container:sign:attest-image
  variables:
    IMAGE_NAME: "oauth"
  needs:
    - docker-build-oauth

mr-note-code-server:
  extends: .tpl:container:test:mr-note
  variables:
    IMAGE_NAME: "code-server"
  needs:
    - docker-build-code-server

mr-note-nginx:
  extends: .tpl:container:test:mr-note
  variables:
    IMAGE_NAME: "nginx"
  needs:
    - docker-build-nginx

mr-note-oauth:
  extends: .tpl:container:test:mr-note
  variables:
    IMAGE_NAME: "oauth"
  needs:
    - docker-build-oauth

merge-manifest-code-server:
  extends: .tpl:container:build:merge_manifests
  variables:
    IMAGE_NAME: "code-server"
  needs:
    - job: docker-build-code-server
      artifacts: false

merge-manifest-nginx:
  extends: .tpl:container:build:merge_manifests
  variables:
    IMAGE_NAME: "nginx"
  needs:
    - job: docker-build-nginx
      artifacts: false

merge-manifest-oauth:
  extends: .tpl:container:build:merge_manifests
  variables:
    IMAGE_NAME: "oauth"
  needs:
    - job: docker-build-oauth
      artifacts: false
